# Executables & objects
*.exe
*.obj

# Debug files
*.pdb
*.ilk

# Logs
*.log

# Visual Studio
.vs/
*.suo
*.vcxproj.user

# Build folders
Debug/
Release/
x64/
build/

# MSBuild
*.tlog
*.lastbuildstate

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Temp
*.tmp
*.cache

Ibug*
.gitnexus/

docs/
report/
